/* Performance Optimizations */
.message-image {
    content-visibility: auto;
    contain-intrinsic-size: 300px;
}
.chat-messages {
    contain: content;
}
.modal.hidden {
    display: none !important;
    content-visibility: hidden;
}